<div class="col-md-6">
 <!----> <ul>
    <li ng-repeat="item in BlogCtrl.query">{{item.name}} <button ng-click="BlogCtrl.edit(item._id)">Edit</button> <button ng-click="BlogCtrl.borrar({id:item._id})">x</button></li>
  </ul>

  <div ng-show="BlogCtrl.registro">
    <form-schema schema="BlogCtrl.schema" model="BlogCtrl.registro" submit="BlogCtrl.update()" config="BlogCtrl.formConfig" html-funcs="BlogCtrl.htmlFuncs" ></form-schema>
  </div>
  {{BlogCtrl.registro}}
</div>


<div class="col-md-6">
  <button ng-click="BlogCtrl.makeNew()">Add new</button>
  <div ng-show="BlogCtrl.nuevo">
    <form-schema schema="BlogCtrl.schema" model="BlogCtrl.nuevo" submit="BlogCtrl.salvar()" config="BlogCtrl.formConfig" html-funcs="BlogCtrl.htmlFuncs"></form-schema>
  </div>

</div>
